.tab.custom-tab{

	background-color: #feffe3;
}

.tab.selected{

	font-weight: bold;
	background-color: #301808;
	color: white;
}

.cards{
		width:70vw;
		margin:5%;
	}
	
.chrono{
		width:76vw;
	}


@media (max-width: 1200px){
	
	.chrono{
		width:75vw;
	}
	
	
}
@media screen and (max-width: 768px) {
	
	.cards{
		width:90vw;
		margin:2vh;
	}
	
	.chrono{
		width:90vw;
	}

}
