.bee-selection{
	flex-direction:row;
	padding-left:20%;
}

.dropdown-row{
	flex-direction:row;
}

.double-graph{
	width: 50%;
}

.double-display{
		width: 76vw;
		flex-direction:row;
	}

.vertical-tabs{
	float:left;
	width:20%;

}

.vertical-scroll{	
	overflow-y: auto;
    max-height: 100vh;
}
.landing{
	flex-direction:row;
}

.logo-image{
	width:50%;
}

.background-image{

	height:120vh;
}

.landing-text{

	width:40%;
}

.display-col{
		width:50%;
		height:100vh;
	}


@media (max-width: 1200px){
	
	.double-display{
		width: 75vw;
		flex-direction:row;
	}
	
	
}

@media (max-width: 768px) {

	.double-display{
		flex-direction:column;
		width: 90vw;
	}

	.bee-selection{
		flex-direction:column;
		padding-left:0%;
	}

	.double-graph{
		width: 80%;
	}

	.vertical-tabs{
		float:none;
		width:100%;
	}

	.landing{
		flex-direction:column;
	}

	.logo-image{
		width:100%;
	}

	.background-image{

		height:300vh;
	}
	.landing-text{
		width:100%;
	}
	
	.display-col{
		width:100%;
		height:300vh;
	}
	.dropdown-row{
		flex-direction:column;
	}
}


